@import "/src/utilities/colors";


.form {
    width: 80%;
    height: fit-content;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 1%;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 3vh;

    .input-row {
        width: 100%;
        display: flex;
        gap: 2%;

        height: fit-content;

        .input-item {

            width: 100%;
            display: flex;
            flex-direction: column;
            color: $dark-blue;

            input {
                width: 100%;
                height: 40px;
                outline: none;
                border: 1px solid rgb(90, 90, 90);
                padding: 0px 2%;
                font-size: 1.1rem;
                color: black;
                border-radius: 5px;

                &:active,
                &:focus {
                    border: $main-color 1px solid;
                }

            }

            label {
                font-size: 20px;
                font-weight: 600;
                margin: 10px 0px;

            }
        }
    }
    .form-button{
        width: fit-content;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        margin: 10px;
        cursor: pointer;
        background-color: $light-blue;
        outline: none;
        border: $dark-blue solid 1px;
        border-radius: 3px;
    transition: all 0.1s ease-in-out;

        &:hover{
            transform: scale(1.1);
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }

}
.main-component{
        width: 100%;
        min-height: 100vh;
        background-color: #f4f6fa;
        display: flex;
        flex-direction: column;
        align-items: center;    
    
}

.component-title {
    margin: 30px 0px 30px 0px;
    color: $dark-blue;
}